<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="userstory8" frontName="userstory8">
            <module name="Ashish_UserStory8"/>
        </route>
    </router>
</config>
