<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="userstory22" frontName="userstory22">
            <module name="Ashish_UserStory22" />
        </route>
    </router>
</config>
