<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <menu>
        <add id="Ashish_UserStory9::menu" 
             title="UserStory9 Menu" 
             module="Ashish_UserStory9" 
             sortOrder="100" 
             parent="Magento_Backend::content" 
             action="userstory9/adminhtml/index/display" 
             resource="Ashish_UserStory9::config"/>
    </menu>
</config>
